.modal {
    position: fixed;
    z-index: 999;
    top:0;
    left:0;
    max-width: 95%;
    height: 100%;
    background-color: rgba(1,0,0,0.75);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal.is-open{
  display: flex;
}

.modal-container {
    position: relative;
    padding: 1rem;
    min-width: 30%;
    max-width: 80%;
    height: 80%;
    overflow-y: auto;
    background-color: rgba(241, 239, 239, 0.959);
}

.modal-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
}